body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
}

h2 {
    color: #333;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #3a3afb;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000066;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
